{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sorting Algorithms in Python</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/sorting.css' %}">


</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Algorithm">What is Algorithm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Selection">Selection Sort</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Bubble">Bubble Sort</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="algorithms-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Sorting Algorithms
          <span class="text-primary">in Python</span>
        </h1>
        <div class="subheading mb-5">Computer algorithms explained for the non-technical person
          <span class="text-primary">just like recipes</span>
        </div>
        <p class="lead mb-5">The goal of this website is to help you understand using clear language,
          and graphically illustrated formulas on how specific algorithms work.
          This could help you to better understand how data is changing and future outcomes of your scripts.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="algorithms-section p-3 p-lg-5 d-flex align-items-center" id="Algorithm">
      <div class="w-100">
        <h2 class="mb-5">What is Algorithm</h2>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Browser Testing &amp; Debugging</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile Development &amp; Scrum</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="algorithms-section p-3 p-lg-5 d-flex align-items-center" id="Selection">
      <div class="w-100">
        <h2 class="mb-5">What is Algorithm</h2>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Browser Testing &amp; Debugging</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile Development &amp; Scrum</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <hr class="m-0">

    <section class="algorithms-section p-3 p-lg-5 d-flex align-items-center" id="Bubble">
      <div class="w-100">
        <h2 class="mb-3">Bubble Sort</h2>
        <p class="lead mb-5">Bubble Sort is the simplest sorting algorithm that works by repeatedly swapping the
          adjacent elements if they are in wrong order.
        </p>
        <div class="subheading mb-3">Animation</div>
        <p class="lead mb-5">
        </p>
      </div>
    </section>

    <hr class="m-0">

  </div>

</body>

</html>