{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sorting Algorithms in Python</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/sorting.css' %}">


</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Algorithm">What is Algorithm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Selection">Selection Sort</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Bubble">Bubble Sort</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="algorithms-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Sorting Algorithms
          <span class="text-primary">in Python</span>
        </h1>
        <div class="subheading mb-5">Computer algorithms explained for the non-technical person
          <span class="text-primary">just like recipes</span>
        </div>
        <p class="lead mb-5">The goal of this website is to help you understand using clear language,
          and graphically illustrated formulas on how specific algorithms work.
          This could help you to better understand how data is changing and future outcomes of your scripts.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="algorithms-section p-3 p-lg-5 d-flex align-items-center" id="Algorithm">
      <div class="w-100">
        <h2 class="mb-5">What is Algorithm</h2>
        <p class="lead mb-3">An algorithm is a sequence of instructions or a set of rules that are followed to complete
          a task. This task can be anything, so long as you can give clear instructions for it.</p>
        <p class="lead mb-5">For example, to make yourself a drink you have to follow a sequence of steps in the right
          order. If you do something in the wrong order you might end up making a mess.</p>
        </p>

        <div class="subheading mb-3">Clear instructions
        </div>
        <p class="lead mb-3">When you write an algorithm you need to include precise, step-by-step instructions.</p>


        <p class="lead mb-3">Here are the instructions for making a smoothie:</p>


        <ul class="fa-ul mb-3">
          <li>
            <i class="fa-li fa fa-check"></i>
            Add fruit to the blender.</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Add milk to the blender.</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Put the lid on the blender.
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Switch the blender on.
          </li>
        </ul>
        <p class="lead mb-3">Imagine if we missed out one of the steps or reversed the order. We could end up switching
          on the blender with nothing in it. Or there could just be milk in the blender and no fruit.
        </p>

        <p class="lead mb-3">That wouldn't make a very tasty smoothie, would it? In fact, it wouldn't make a smoothie at
          all!</p>

      </div>
    </section>

    <hr class="m-0">

    <section class="algorithms-section p-3 p-lg-5 d-flex align-items-center" id="Selection">
      <div class="w-100">
        <h2 class="mb-5">What is Algorithm</h2>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Browser Testing &amp; Debugging</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile Development &amp; Scrum</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <hr class="m-0">

    <section class="algorithms-section p-3 p-lg-5 d-flex align-items-center" id="Bubble">
      <div class="w-100">
        <h2 class="mb-3">Bubble Sort</h2>
        <p class="lead mb-5">Bubble Sort is the simplest sorting algorithm that works by repeatedly swapping the
          adjacent elements if they are in wrong order.
        </p>
        <div class="subheading mb-3">Animation</div>
        <p class="lead mb-5">
        </p>
      </div>
    </section>

    <hr class="m-0">

  </div>

</body>

</html>